:root {
    --white-color: white;
    --black-color: black;
    --text-primary-color: #515E79;
    --text-secondary-color: #8A93AA;
    --primary-color: #7589F9;
    --secondary-color: #77DDD2;
    --secondary-color: #5eddc0;
    --cart-color: #ffd31c;
    --shadow-color: #EFF1F4;
    --price-color: #FB7373;

}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

textarea:focus, input:focus {
    outline: none;
}

ul {
    margin: 0;
}

.wrapper {
    width: fit-content;
    height: fit-content;
}

.btn--wrapper {
    width: fit-content;
    height: fit-content;
}

/* paginaiton */

.pagination {
    width: fit-content;
}

.page-item {
    background-color: var(--primary-color);
    border: 1px solid var(--shadow-color);
    border-radius: 4px;
    height: 36px;
    width: 36px;
}

.page-item:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.page--link {
    color: var(--white-color);
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    font-size: 16px;
}

.active {
    background-color: var(--secondary-color);
}

.disabled {
    display: none !important;
}